footer {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #333;
    color: white;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: lightgray;

}

.footer-copyright {
    background-color: #0275d8;
}

.footer-copyright a {
    text-decoration: none;
    color: white;
}

.footer-copyright a:hover {
    color: lightgray;
}

.hr-line {
    background-color: #0275d8;
    width: 65px;
    opacity: 1;
    margin-left: 0;
}

h6 {
    font-weight: bold;
}

.icons {
    display: block;
}

.icons .icon {
    text-decoration: none;
    padding-right: 20px;
}