<div class="container admin" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img th:src="@{ ${admin.avatarURL} }"
                                     alt="User picture">
                            </div>
                            <h5 class="user-name" th:text="${admin.name} + ' ' + ${admin.surname}"></h5>
                            <h6 class="user-email" th:text="${admin.email}"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <form th:method="POST" th:action="@{'/dashboard/admin/{id}/edit' (id=${admin.userId})}">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-3 text-primary">Personal details</h6>
                                <hr/>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="name"
                                            name="name"
                                            placeholder="Enter name"
                                            th:value="${admin.name}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="username"
                                            name="username"
                                            placeholder="Enter username"
                                            th:value="${admin.username}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="surname">Surname</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="surname"
                                            name="surname"
                                            placeholder="Enter surname"
                                            th:value="${admin.surname}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email"
                                           class="form-control"
                                           id="email"
                                           name="email"
                                           placeholder="Enter email"
                                           th:value="${admin.email}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input
                                            type="password"
                                            class="form-control"
                                            id="password"
                                            name="password"
                                            placeholder="Enter password">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="thumbnail">Thumbnail</label>
                                    <input type="text"
                                           class="form-control"
                                           id="thumbnail"
                                           name="thumbnail"
                                           placeholder="Enter thumbnail URL"
                                           th:value="${admin.avatarURL}">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 text-primary">Managed requests</h6>
                                <hr/>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-warning collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                    Pending requests
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="list-group" th:if="${pendingPlaces.size() > 0}">

                                                    <div class="list-group-item list-group-item-action"
                                                         aria-current="true"
                                                         th:each="p: ${pendingPlaces}">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <div>
                                                                <p class="mb-1" style="display: inline-block;">
                                                                    Author <b><th:block th:text="${p.manager.username}"/></b>
                                                                </p>
                                                                &nbsp;|&nbsp;
                                                                <p class="mb-1" style="display: inline-block;">
                                                                    Place <b><th:block th:text="${p.name}"/></b>
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <a th:href="@{'/dashboard/admin/{id}/approve/{requestId}' ( id=${admin.userId}, requestId=${p.request.requestId} ) }"
                                                                   class="btn btn-outline-success btn-sm">
                                                                    Approve
                                                                </a>
                                                                <a th:href="@{'/dashboard/admin/{id}/deny/{requestId}' ( id=${admin.userId}, requestId=${p.request.requestId} ) }"
                                                                   class="btn btn-outline-danger btn-sm">
                                                                    Deny
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <p class="small mb-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                                            </svg>&nbsp;
                                                            <th:block th:text="${p.request.requestTime}"></th:block>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-success collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                    Approved requests
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="list-group" th:if="${approvedPlaces.size() > 0}">

                                                    <div class="list-group-item list-group-item-action"
                                                         aria-current="true"
                                                         th:each="a: ${approvedPlaces}">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <div>
                                                                <p class="mb-1" style="display: inline-block;">
                                                                    Author <b><th:block th:text="${a.manager.username}"/></b>
                                                                </p>
                                                                &nbsp;|&nbsp;
                                                                <p class="mb-1" style="display: inline-block;">
                                                                    Place <b><th:block th:text="${a.name}"/></b>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class="small mb-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                                            </svg>&nbsp;
                                                            <th:block th:text="${a.request.requestTime}"></th:block>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-danger collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                    Denied requests
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="list-group" th:if="${deniedPlaces.size() > 0}">

                                                    <div class="list-group-item list-group-item-action"
                                                         aria-current="true"
                                                         th:each="d: ${deniedPlaces}">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <div>
                                                                <p class="mb-1" style="display: inline-block;">
                                                                    Author <b><th:block th:text="${d.manager.username}"/></b>
                                                                </p>
                                                                &nbsp;|&nbsp;
                                                                <p class="mb-1" style="display: inline-block;">
                                                                    Place <b><th:block th:text="${d.name}"/></b>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class="small mb-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                                            </svg>&nbsp;
                                                            <th:block th:text="${d.request.requestTime}"></th:block>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 text-primary">Blocked hoteliers</h6>
                                <hr/>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-0">
                                <div class="list-group" th:if="${blockedHoteliers.size() > 0}">

                                    <div class="list-group-item list-group-item-action"
                                         aria-current="true"
                                         th:each="b: ${blockedHoteliers}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-1" th:text="${b.name} + ' ' + ${b.surname}"></h6>
                                            <div class="text-right">
                                                <a class="btn btn-outline-danger btn-sm"
                                                   th:href="@{'/dashboard/admin/{id}/remove-user/{userId}' ( id=${admin.userId}, userId=${b.userId} ) }">
                                                    Remove
                                                </a>
                                                <a class="btn btn-outline-secondary btn-sm"
                                                   th:href="@{'/dashboard/admin/{id}/unblock-user/{userId}' ( id=${admin.userId}, userId=${b.userId} ) }">
                                                    Unblock
                                                </a>
                                            </div>
                                        </div>
                                        <p class="mb-1" th:text="${b.username}"></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-0">
                                <div class="text-right">
                                    <a type="button" class="btn btn-secondary" th:href="@{ '/home' }">Cancel</a>
                                    <button class="btn btn-primary" type="submit">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>