<div>
<div id="app">
    <h1>TESTING VUE and REST</h1>
    <ul>
        <li v-for="user in users"> USERNAME: {{ user.username }} -> PASS: {{ user.password }} </li>
    </ul>
</div>

<script>
    const apiURL = "http://localhost:8080/api/example";

    new Vue({
        el: "#app",
        data(){
            return{
                users: []
            }
        },
        created(){
            fetch(apiURL)
                .then(response => {
                    return response.json()
                })
                .then(users => {
                    this.users = users
                })
        }
    });
</script>
</div>
