<!-- Carousel -->
<div class="carouselFeatured">
    <div id="carouselHomePage" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselHomePage" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHomePage" data-slide-to="1"></li>
            <li data-target="#carouselHomePage" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" id="carouselVideos">
            <div class="carousel-item active">
                <video class="video-fluid d-block w-100" autoplay loop muted>
                    <source src="video/ohrid.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="carousel-item">
                <video class="video-fluid d-block w-100" autoplay loop muted>
                    <source src="video/berovo.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="carousel-item">
                <video class="video-fluid d-block w-100" autoplay loop muted>
                    <source src="video/ponikva-mod.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselHomePage" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselHomePage" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- City slider -->
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/mavrovo-lake.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Mavrovo</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/aurora-berovo2.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Berovo</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/ohrid.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Ohrid</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/bitola.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Bitola</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/dojran-lake-slider.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Dojran</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/krusevo-makedonium-slider.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Krusevo</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/matka.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Matka</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-12 xol-xs-12 mb-3">
                                    <div class="card box">
                                        <div class="img-fluid slide-img">
                                            <img alt="1" src="./img/skopje-barok.jpg">
                                            <div class="overlay">
                                                <a href="#" class="more-btn">Read more</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <small>CATEGORY</small>
                                            <h4 class="card-title">Skopje</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <hr/>
                                            <div class="d-flex justify-content-between details">
                                                <small>Rating</small>
                                                <a href="#" class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="auto" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-light mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="auto" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </a>
                <a class="btn btn-light mb-3" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="auto" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Wizard stepper(s) -->
<div class="container mb-5">
    <h1>Wizard stepper</h1>
    <div class="row">
        <div class="col-md-12 mt-5">
            <h2>Linear stepper</h2>
            <div id="stepper1" class="bs-stepper">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button type="button" class="btn step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Прв чекор</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button type="button" class="btn step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Втор чекор</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-3">
                        <button type="button" class="btn step-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Трет чекор</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <div id="test-l-1" class="content">
                        <p class="text-center">Избор на град</p>
                        <button class="btn btn-primary" onclick="stepper1.next()">Следно</button>
                    </div>
                    <div id="test-l-2" class="content">
                        <p class="text-center">Избор на категорија на места</p>
                        <button class="btn btn-primary" onclick="stepper1.next()">Следно</button>
                    </div>
                    <div id="test-l-3" class="content">
                        <p class="text-center">Резултати</p>
                        <button class="btn btn-primary" onclick="stepper1.next()">Следно</button>
                        <button class="btn btn-primary" onclick="stepper1.reset()">Повторно</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Vertical stepper</h2>
            <div id="stepper3" class="bs-stepper vertical">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-lv-1">
                        <button type="button" class="btn step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Прв чекор</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-lv-2">
                        <button type="button" class="btn step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Втор чекор</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-lv-3">
                        <button type="button" class="btn step-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Трет чекор</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <div id="test-lv-1" class="content">
                        <p class="text-center">Избор на град</p>
                        <button class="btn btn-primary" onclick="stepper3.next()">Следно</button>
                    </div>
                    <div id="test-lv-2" class="content">
                        <p class="text-center">Избор на категорија на места</p>
                        <button class="btn btn-primary" onclick="stepper3.next()">Следно</button>
                        <button class="btn btn-primary" onclick="stepper3.previous()">Претходно</button>
                    </div>
                    <div id="test-lv-3" class="content">
                        <p class="text-center">Резултати</p>
                        <button class="btn btn-primary" onclick="stepper3.previous()">Претходно</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>