<div id="app">

<div class="container-fluid" id="place_pic">
    <svg id="heart_icon" v-bind:class="mt-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
    </svg>
    <div class="row">
        <div id="title" class="col-lg-6 col-md-10 col-sm-10 col-xs-12 animate__animated animate__fadeInLeft">
            <p>{{ place.name }}</p>
        </div>
    </div>
    <div class="row" id="row_desc_rating">
        <div id="desc" class="col-lg-6 col-md-10 col-sm-10 col-xs-12 animate__animated animate__fadeInLeft animate__delay-1s">
            <p>{{ place.description }}</p>
        </div>
        <div id="rating" class="col-lg-6 col-md-10 col-sm-10 col-xs-12 animate__animated animate__fadeInRight animate__delay-1s">
            <p>
                <svg v-bind:class="mb-1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
                {{ place.rating }}
            </p>
        </div>
    </div>
</div>

<div class="container mt-3" id="place_main">
    <div class="row">
        <div class="col" id="address_tel">
            <div class="column col-12 m-4">
                <p>
                    <svg v-bind:class="mb-2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                    {{ place.address }}
                </p>
            </div>
            <div class="column col-12 m-4">
                <p>
                    <svg v-bind:class="mb-2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    {{ place.telephoneNumber }}
                </p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-4" id="map" style="width: 500px; height: 200px;">

<!--                {{ initMap(place.map) }}-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1658.9016005261224!2d22.892706740739367!3d41.67297692967391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aa1159e38f2531%3A0x80b21b24c931199d!2z0JDRg9GA0L7RgNCwINCg0LXRgdC-0YDRgiAmINCh0L_QsA!5e1!3m2!1smk!2smk!4v1614383143220!5m2!1smk!2smk" width="100%" height="120%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->

            <div id="app2">
                <template>
                    <gmaps-map>
                        <gmaps-marker :position="{ lat: -27, lng: 153 }" />
                    </gmaps-map>
                </template>
            </div>


<!--            <template>-->
<!--                <div class="text-light p-3 bg-info text-center "> <google-map :center="{ lat: 10, lng: 10 }" :zoom="7" class="mapSty"> </google-map> </div>-->
<!--            </template>-->


        </div>
    </div>
</div>


<!-- Gallery of Place images -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        Галерија
        <svg class="bi bi-image" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16">
            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
        </svg>
    </h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left  animate__animated animate__zoomIn animate__delay-3s">

        <div class="col-lg-3 col-md-4 col-6" v-for="image in place.gallery">
            <a href="" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" v-bind:src="'/' + image.imageURL" alt="image.description">
            </a>
        </div>

    </div>

    </div>

</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="/js/jquery.geolocation.edit.js"></script>-->

<!--<script>-->
<!--    $("#map").geolocate({-->
<!--        lat: 42.123,-->
<!--        lng: 23.323-->
<!--    });-->
<!--</script>-->

<script>
    import x5GMaps from 'x5-gmaps'
    // Option 1: Just your key
    Vue.use(x5GMaps, 'AIzaSyDj1xwv5mI8puYYGf6HviG8G_x8UXKHqs8')

    // import * as VueGoogleMaps from 'vue2-google-maps';
    //
    // Vue.use(VueGoogleMaps, {
    //     load: {
    //         key: 'AIzaSyDj1xwv5mI8puYYGf6HviG8G_x8UXKHqs8'
    //     },
    //     installComponents: true
    // });
    //
    // Vue.component('google-map', VueGoogleMaps.Map);


    var vm2 = new Vue({
        el: '#app2',
        render: (h) => h(App),
    });

    import { gmapsMap, gmapsMarker } from 'x5-gmaps'

    export default {
        components: { gmapsMap, gmapsMarker },
    }

    // import { gmapsMap } from 'x5-gmaps'
    //
    // export default {
    //     components: { gmapsMap },
    //     data: () => ({
    //         mapOptions: {
    //             center: { lat: -27.47, lng: 153.025 },
    //             zoom: 12,
    //         },
    //     }),
    // }
</script>

<script>
    let path = window.location.pathname;
    let pom = "";

    for(var i=path.length-1; i>=0; i--){
        if(path[i]==="/")
            break;

        pom = pom + path[i];
    }

    var split = pom.split("");
    var reverse = split.reverse();
    var id = reverse.join("");

    const apiURL = "http://localhost:8080/api/place/" + id;

    // $.ajax({
    //     url: apiURL
    // }).then(function(data) {
    //     setParameters(data);
    // });
    //
    // function setParameters(data){
    //     latitude = data.location.latitude;
    //     longitude = data.location.longitude;
    // }





    var vm = new Vue({
        el: "#app",
        data(){
            return{
                place: {}
            }
        },
        created(){
            fetch(apiURL)
                .then(response => {
                    return response.json()
                })
                .then(place => {
                    this.place = place
                })
        },
        methods: {
            // initMap: function(placeMap){
            //     // console.log(placeMap);
            //     //
            //     // this.map = new google.maps.Map(document.getElementById("map"), {
            //     //     center: { lat: placeMap.latitude, lng: placeMap.longitude },
            //     //     zoom: 8,
            //     // });
            // }
        }
    });
</script>




<!--<script>-->
<!--    function initMap() {-->
<!--        let longitude = place.location.longitude;-->
<!--        let latitude = place.location.latitude;-->

<!--        let location = {lat: latitude, lng: longitude};-->

<!--        let map = new google.maps.Map(document.getElementById("map"), {-->
<!--            zoom: 8,-->
<!--            center: location-->
<!--        });-->

<!--        let marker = new google.maps.Marker({-->
<!--            position: location,-->
<!--            map: map-->
<!--        });-->
<!--    }-->

<!--    initMap();-->
<!--</script>-->

<!--<script async-->
<!--        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj1xwv5mI8puYYGf6HviG8G_x8UXKHqs8&callback=initMap">-->
<!--</script>-->

